{% extends "admin/layout.html" %}

{% block title %}
    Register From Admin
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto" id="username" name="user_name" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto" id="username" name="email" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <select name="role">
                <option value="">Please Select Role</option>
                <option value="client">Client</option>
                <option value="staff">Staff</option>
                <option value="user">User</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Add User</button>
    </form>
{% endblock %}
